# Ignore runtime log
/data/log.csv
/project-insight-477822-101395f3938d.json
/.streamlit/secrets.toml

# Common Python ignores
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/

# IDE/editor
.vscode/
.idea/
